# Intermediate data
data/spotify/artists.edn
data/spotify/related-artists.edn
# Secrets
.tokens/authorization-code.edn

# Clojure files
target/
.lein-failures
.lein-repl-history
pom.xml

# Emacs files
*~
*#*
.nrepl-port

# imdb data -- large files
data/imdb/*

# Log files
debug.log
figwheel_server.log
