# Clojure files
target/
.lein-failures
pom.xml
figwheel_server.log

# Emacs files
*~
*#*
.nrepl-port

# imdb data -- large files
resources/imdb/*

# Discord secrets
data/settings/settings.json

# Log files
debug.log
